@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    font-feature-settings: "cv11", "ss01";
  }
}

::selection {
  @apply bg-slate-900 text-white;
}